<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <timestamp datePattern="yyyy-MM-dd" key="LOG_DATE"/>

    <include resource="logback/properties.xml" />

    <springProfile name="local">
        <include resource="logback/console-appender.xml" />
        <include resource="logback/db-file-appender.xml" />
        <include resource="logback/error-file-appender.xml" />

        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="DB_FILE" />
            <appender-ref ref="ERROR_FILE" />
        </root>
    </springProfile>

    <springProfile name="dev">
        <include resource="logback/console-appender.xml" />
        <include resource="logback/db-file-appender.xml" />
        <include resource="logback/error-file-appender.xml" />

        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="DB_FILE" />
            <appender-ref ref="ERROR_FILE" />
        </root>
    </springProfile>

    <springProfile name="prod">
        <include resource="logback/db-file-appender.xml" />
        <include resource="logback/error-file-appender.xml" />

        <root level="INFO">
            <appender-ref ref="DB_FILE" />
            <appender-ref ref="ERROR_FILE" />
        </root>
    </springProfile>

</configuration>